<!DOCTYPE html>
<html lang="en">
{% extends 'studentindex.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Your Profile</h4>
            <p class="card-description"></p>
            <form class="forms-sample">
                <div style="text-align:center;">
                    <img class="img-xl rounded-circle" src="{% static 'assets/images/faces/face15.jpg' %}" alt="">
                    <p class="card-description"> Student Id : </p>
                </div>
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Course Name :</label>
                                <div class="col-sm-9">
                                    <label class="col-sm-3 col-form-label">Course Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Department Name :</label>
                                <div class="col-sm-9">
                                    <label class="col-sm-3 col-form-label">Department</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">First Name :</label>
                                <div class="col-sm-9">
                                    <label class="col-sm-3 col-form-label">First Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Last Name :</label>
                                <div class="col-sm-9">
                                    <label class="col-sm-3 col-form-label">Last Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Gender :</label>
                                <div class="col-sm-9">
                                    <label class="col-sm-3 col-form-label">Gender</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date of Birth :</label>
                                <div class="col-sm-9">
                                    <label class="col-sm-3 col-form-label">Date of Birth</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Email Id :</label>
                                <div class="col-sm-9">
                                    <label class="col-sm-3 col-form-label">Email Id</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mobile No:</label>
                                <div class="col-sm-9">
                                    <label class="col-sm-3 col-form-label">Mobile No:</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="exampleTextarea1">Address:</label>

                                <div class="col-sm-9">
                                    <label class="col-sm-3 col-form-label" for="exampleTextarea1">Address</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Guardian Contact No:</label>
                                <div class="col-sm-9">
                                    <label class="col-sm-3 col-form-label">Guardian Contact No:</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Edit</button>
                    <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>